<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day</title>
</head>
<body>
    <h1>this is a <%= thisDay %>   day </h1>
    <h1>this is a <%= nameDay %>   day </h1>
    <% if(thisDay=="weekend"){ %> 
    <img src="./1.jpg">
    <% }else { %>
        <img src="./2.jpg">
        <% } %> 
</body>
</html>